* {
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    background-color: #92dff9;
}
#date{
 width: 35%;   
 margin-left: auto;
}
#time{
    width: 35%;
    margin-right: 35.5%;
    margin-left: auto;
}
#day {
    width: 33.33%;
    margin-right: 30.5%;
    margin-left: auto;
}
#main_heading {
    text-align: center;
}
#input_box {
    text-align: center;
    border: 2px solid #000000;
    padding-bottom: 4%;
    padding-top: 2%;
    margin: 3% 30% 0px 30%;
    border-radius: 60px;
    background-color: #36fb2f;
}
li {
    width: 50%
}
.del {
    text-indent: 20px;
}
ul {
    margin-top: 5%;
    list-style-type: none;
}
.list {
    width: 75%;
    padding-left: 10%;
    padding-right: 50%;
}
/*.del{
    padding-left: 35%

}*/
#task {
    width: 35%;
}